<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcomeeeeeee to Home <%= %></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ullam minima, quas alias, animi earum cupiditate eius magni nostrum minus, accusantium vero praesentium inventore unde cumque nulla natus atque aliquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ullam minima, quas alias, animi earum cupiditate eius magni nostrum minus, accusantium vero praesentium inventore unde cumque nulla natus atque aliquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ullam minima, quas alias, animi earum cupiditate eius magni nostrum minus, accusantium vero praesentium inventore unde cumque nulla natus atque aliquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ullam minima, quas alias, animi earum cupiditate eius magni nostrum minus, accusantium vero praesentium inventore unde cumque nulla natus atque aliquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ullam minima, quas alias, animi earum cupiditate eius magni nostrum minus, accusantium vero praesentium inventore unde cumque nulla natus atque aliquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ullam minima, quas alias, animi earum cupiditate eius magni nostrum minus, accusantium vero praesentium inventore unde cumque nulla natus atque aliquam?
    </p>
</body>
</html>