<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <h1>Your albuns</h1>
        <ul>
            <% for(let album of albuns) { %>
                <li> <%= album %></li>
            <% } %>
        </ul>
</body>
</html>