body {
    background-color: black; 
}

* {
    color: #caf0f8;
}

button {
    color: #caf0f8;
    padding: 0.8em;
    background: none;
    border: 1px solid;
    transition: 0.25s;
    display: block;
    margin-top: 15px;
}

h1, h2 {
    color: #caf0f8;
}

input[type = "text"] {
    background-color: #caf0f8;
}

input::placeholder {
    color: black;
}

#nota {
    background-color: #caf0f8;
}

button:hover {
    cursor: pointer;
    color: #48cae4;
    transform: translateY(-5px);
    box-shadow: 0px 8px 10px -5px #48cae4;
}

input:checked {
    border: none;
    outline: 2px solid #caf0f8;
}

#album {
    color: #48cae4;
}

#album:hover {
    background-color: black;
}

span {
    display: inline-block;
    margin: 40px;
}